@import "variables";

.banner {
  position: relative;
  background: #5887ff;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  text-align: right;
  .clearfix();
  .wrapper {
    width: 900px;
  }
  .center-block {
    align-items: flex-start;
  }
  .banner-pics {
    position: relative;
    width: 400px;
    margin: 54px 0 54px -6px;
    img {
      position: absolute;

    }
    .banner-pic1 {
      top: 0;
      left: 0;
      z-index: 7;
      box-shadow: 1.9px 2.3px 32px 0px rgba(0, 36, 127, 0.51);
    }
    .banner-pic2 {
      top: 40px;
      left: 108px;
      z-index: 6;
      box-shadow: 1.9px 2.3px 32px 0px rgba(0, 36, 127, 0.51*0.75);
    }
    .banner-pic3 {
      top: 52px;
      left: 177px;
      z-index: 5;
      box-shadow: 1.9px 2.3px 32px 0px rgba(0, 36, 127, 0.51*0.55);
    }
    .banner-pic4 {
      top: 59px;
      left: 255px;
      z-index: 4;
      box-shadow: 1.9px 2.3px 32px 0px rgba(0, 36, 127, 0.51*0.35);
    }
    .banner-pic5 {
      top: 64px;
      left: 331px;
      z-index: 3;
      box-shadow: 1.9px 2.3px 32px 0px rgba(0, 36, 127, 0.51*0.15);
    }
    .banner-pic6 {
      top: 67px;
      left: 400px;
      z-index: 2;
      box-shadow: 1.9px 2.3px 32px 0px rgba(0, 36, 127, 0.51*0.1);
    }
    .banner-pic7 {
      top: 70px;
      left: 476px;
      z-index: 1;
      box-shadow: 1.9px 2.3px 32px 0px rgba(0, 36, 127, 0.51*0.05);
    }
  }
  .content {
    width: 450px;
    padding: 130px 0;
  }
  .title {
    color: #fff;
    line-height: 1.2;
  }
  .subtitle {
    color: #fff;
    font-size: 24px;
    margin-top: 15px;
    font-family: '﻿PingFangSC-Ultralight';
    letter-spacing: 7.2px;
  }
  .btn {
    width: 239px;
    height: 56px;
    margin-top: 56px;
    font-size: 24px;
    line-height: 56px;
    color: #2851ba;
    background-color: rgb(0, 255, 255);
    border-radius: 28px;
    box-shadow: 0px 3px 24px 0px rgba(3, 30, 98, 0.34);
    &:hover{
      background-color: #00fff2;
    }
  }
  .pic {
    width: 400px;
  }
  .wave {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .wave1 {
    background: url(../images/beauty/wave1.png) bottom repeat-x;

  }
  .wave2 {
    background: url(../images/beauty/wave2.png) bottom repeat-x;

  }

}
